body {
background-color: #FAFAFA;
}

h1{
font-family: Verdana, Geneva, sans-serif;
font-size: 40px;
} 

b {
font-family: Verdana, Geneva, sans-serif;
}

p {
font-family: Verdana, Geneva, sans-serif;
font-style: normal;
font-variant: normal;
line-height: 130%;
font-size: 17px;
}

form {
    max-width: 500px;
    margin:0 auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

button {
    background-color: #FF3D00;
    color: white;
    padding: 14px 20px;
    margin: 8px 1px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

li a {
    display: block;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #B71C1C;
    color:white;
}

ul, li{ list-style:none; margin:0; padding:0;}
.main-menu ul{background-color:#F44336;}
.main-menu > ul{ display:table; width:100%;}
.main-menu > ul > li{ display:table-cell; border-right:1px solid #d4d4d4;}  
.main-menu > ul > li:last-child{ border-right:none;}
.main-menu > ul > li > a{ text-align:center;}
.main-menu {width:80%;}

.bodyElements {
    display: block;
    width:80%;
    text-align: left;
}

.formText {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: 600;
}


footer {
  position: absolute;
  right: 10%;
  left: 10%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #EF5350;
  text-align: center;
}

label {
text-align: left;
}

textarea {
    resize: none;
}
