body {
background-color: #FAFAFA;
}

p {
color: black;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
font-style: normal;
font-variant: normal;
}

li a {
    display: block;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #e0e0e0;
    color:black;
}

ul, li{ list-style:none; margin:0; padding:0;}
.main-menu ul{background-color:#eeeeee;}
.main-menu > ul{ display:table; width:100%;}
.main-menu > ul > li{ display:table-cell; border-right:1px solid #d4d4d4;}  
.main-menu > ul > li:last-child{ border-right:none;}
.main-menu > ul > li > a{ text-align:center;}
.main-menu {width:80%;}

.NavigationBar{
 
    margin:1px;
    width:80%;
}

article {
    display: block;
    width:80%;
    text-align: left;
}
